@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root { 
    --primary-color: #1b1b1b; 
    --bg-color: #080808; 
    --text-color: #9c9c9c; 
    --card-bg: #3f8e00;
} 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', serif;
    color: var(--text-color);
    background-color: var(--bg-color);
    line-height: 24px;
}

.site-header{
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: 'IBM Plex Mono', serif;
    max-width: 1110px;
    height: 70px;
    margin: 0 auto;
    padding: 24px 95.46px 28px 95px;
    border-radius: 0 0 8px 8px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul{
    display: flex;
    list-style: none;
    gap: 70px;
}

.navbar a{
    text-decoration: none;
    font-weight: 400;
    color: var(--text-color);
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    font-size: 18px;
    opacity: 30%;
}

main{
    display: flex;
    flex-direction: row;
}

.portrait{
    object-fit: fit;
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.worked-with{
    display: flex;
}

.worked-with a{
    height: 60px;
    width: 160px;
    border: 1px solid var(--text-color);
    justify-items: center;
}

.worked-with a .logo{
    justify-content: center;
    align-items: center;
    opacity: 30%;
    width: 160px;
}